<div id="main-footer" class="row">
    <div class="container">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

         
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="format-footer-text">
                <span>
                    امن افزار گستر شریف
                    در سال ۱۳۸۱ تاسیس گردیده و رسالت خویش را تحقیق، پژوهش و تولید محصولات امنیتی در حوزه ICT به منظور صیانت از سرمایه‌های اطلاعاتی کشور قرار داده است. وجود کارشناسان کارآمد و متخصص در شرکت و همچنین حفظ ارتباط با مراکز علمی و دانشگاهی کشور توانسته است شرکت را به مجموعه‌ای تخصصی در حوزه افتا تبدیل نموده و زمینه اعتماد سازمان‌های کشور به فعالیت‌های شرکت را فراهم نماید.
                </span>
                <div class="line-sefid">
                    <span>
                        طراحی، توسعه و پشتیبانی توسط علی نوری

                    </span>

                    <span>
                        استفاده از مطالب سایت تنها با ذکر منبع مجاز است.
                    </span>
                </div>
            </div>
           
        </div>

    </div>

</div>